*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --backdrop-surface: #{rgba(#000, 0.5)};
  --background: #fff;
  --border: #dee2e6;
  --danger-surface: #fa5252;
  --danger: #e03131;
  --dark-border: #adb5bd;
  --foreground: #fff;
  --gray-surface: #e9ecef;
  --hover-surface: #dee2e6;
  --input-border: #adb5bd;
  --input-dark-border: #495057;
  --input-light-border: #dee2e6;
  --input-surface: var(--foreground);
  --light-border: #f1f3f5;
  --light-text: #868e96;
  --primary-surface: #4c6ef5;
  --primary: #3b5bdb;
  --rss: #fd7e14;
  --text-on-danger-surface: #fff;
  --text-on-primary-surface: #fff;
  --text: #212529;
  // Shadows
  --low-shadow:
    0px 0px 0px rgba(3, 7, 18, 0.1), 0px 1px 1px rgba(3, 7, 18, 0.08),
    0px 1px 1px rgba(3, 7, 18, 0.06), 0px 3px 3px rgba(3, 7, 18, 0.04),
    0px 4px 4px rgba(3, 7, 18, 0.02);
  --medium-shadow:
    0px 0px 0px rgba(3, 7, 18, 0.1), 0px 1px 1px rgba(3, 7, 18, 0.08),
    0px 3px 3px rgba(3, 7, 18, 0.06), 0px 5px 5px rgba(3, 7, 18, 0.04),
    0px 8px 8px rgba(3, 7, 18, 0.02);
  --high-shadow:
    0px 1px 1px rgba(3, 7, 18, 0.1), 0px 5px 5px rgba(3, 7, 18, 0.08),
    0px 12px 12px rgba(3, 7, 18, 0.06), 0px 20px 20px rgba(3, 7, 18, 0.04),
    0px 32px 32px rgba(3, 7, 18, 0.02);
  // App
  --articles-width: 560px;
  --feeds-width: 360px;
  color-scheme: light;
}

.dark {
  --backdrop-surface: #{rgba(#000, 0.75)};
  --background: #212529;
  --border: #495057;
  --danger-surface: #ffa8a8;
  --danger: #ffa8a8;
  --dark-border: #868e96;
  --foreground: #212529;
  --gray-surface: #343a40;
  --hover-surface: #495057;
  --input-border: #868e96;
  --input-dark-border: #ced4da;
  --input-light-border: #495057;
  --input-surface: var(--foreground);
  --light-border: #495057;
  --light-text: #adb5bd;
  --primary-surface: #bac8ff;
  --primary: #bac8ff;
  --rss: #ffc078;
  --text-on-danger-surface: #212529;
  --text-on-primary-surface: #212529;
  --text: #f8f9fa;
  color-scheme: dark;
}

html {
  background-color: var(--background);
  color: var(--text);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

// Remove built-in styles
:where(html, body) {
  margin: 0;
}

// Inherit form styles from parent
:where(button, input, select, textarea) {
  color: inherit;
  font: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Remove unwanted space around media elements
:where(img, svg) {
  display: block;
}
